body {
    background-color: #fdb864;
    margin: 0;
    font-family: Arial, sans-serif;
}

#banner {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#banner button {
    background-color: #555;
    color: white;
    border: none;
    padding: 15px 30px;
    margin: 0 10px;
    cursor: pointer;
    font-size: 18px;
}

#banner button:hover {
    background-color: #777;
}

h1, h2 {
    text-align: center;
    margin: 0.5em 0;
}

#image-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    overflow: hidden;
}

#image-div img {
    /*display: none; !* Hide the image by default *!*/
    width: 50%;
    height: 100%;
    object-fit: cover;
}

/* Ensure flexbox layout is applied consistently */
@media (max-width: 768px) {
    #image-div {
        flex-direction: column;
        height: auto;
    }

    #image-div img {
        width: 100%;
        height: auto;
    }
}
